{% extends 'lists/base.html' %}
{% block content %}
  <table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">顧客名</th>
            <th scope="col">依頼日</th>
            <th scope="col">納期</th>
            <th scope="col"><a href={% url "case_create" %}>新規作成</a></th>
        </tr>
    </thead>
    <tbody>
        {% for list in object_list %}
            <tr>
                <td>{{ list.id }}</td>
                <td>{{ list.customer }}</td>
                <td>{{ list.mitsumori_request_date }}</td>
                <td>{{ list.deadline|date:"n/j" }}</td>
                <td><a href={{ list.id }}>詳細</a></td>
                <td><a href={% url "update" list.id %}>編集</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}