{% extends 'lists/base.html' %}
{% load mathfilters %}
{% block content %}
    <a href={% url "case_create" %}>新規作成</a>
    <br>
    {% for customer in object_list %}
        {% if customer.cases.count != 0 %}
            {{ customer.name }}
            <table class="table table-bordered border-primary">
                {% for list in customer.cases.all %}
                    <thead>
                        <tr>
                            <th>
                                No
                                <a href={% url "case_update" list.id %}>案件編集</a><br>
                            </th>
                            <th>依頼日</th>
                            <th>納期</th>
                            <th>図番</th>
                            <th>品名</th>
                            <th>素材</th>
                            <th>処理</th>
                            <th>数量</th>
                            {% if list.products.count != 0 %}
                                <th><a href={% url "gaityu_create" list.id %}>見積依頼追加</a></th>
                            {% else %}
                                <th><a href={% url "product_create" list.id %}>製品追加</a></th>
                            {% endif %}
                            {% for gaityu in list.gaityus.all %}
                                <th>
                                    {{ gaityu.contractor|cut:"株式会社" }}
                                    <a href={% url "price_create" gaityu.case.id gaityu.id %}>単価追加</a><br>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                            <td rowspan={{ list.products.all.count|addition:2 }}>{{ list.id }}</td>
                            <td rowspan={{ list.products.all.count|addition:2 }}>{{ list.mitsumori_request_date|date:"n/j" }}</td>
                            <td rowspan={{ list.products.all.count|addition:2 }}>{{ list.deadline|date:"n/j" }}</td>
                        </tr>
                        {% for product in list.products.all %}
                            <tr>
                                <td>{{ product.drawing_num }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.material }}</td>                      
                                <td>{{ product.surface }}</td>                      
                                <td>{{ product.volume }}</td>
                                <td>
                                    <a href={% url "product_update" product.id %}>編集</a>
                                    {% if forloop.last %}
                                        <a href={% url "product_create" list.id %}>製品追加</a>
                                    {% endif %}
                                </td>
                                {% for gaityu in list.gaityus.all %}
                                    <td>
                                        {% for price in product.prices.all %}
                                            {% if gaityu.id == price.gaityu.id and price.product.id == product.id %}
                                                {{ price.price }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endblock content %}